
.card-container{
	margin: 20px;
	flex-wrap:wrap;
	 align-items: flex-start
	

	
	
}
.card-item{
	margin:10px;
	
	
}
.selected-card-container{
	
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 40px;
	justify-content: center
}
.selected-card{
	flex-grow:1;
	text-align: center;
}